<h1>movies#index</h1> 

<%# <%= form_with  url:search_path, local: true, method: :get do |t| %
  <%= t.text_field :word %
  <%= t.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %
  <%= t.check_box :is_showing %公開中
  <%= t.submit "検索" %
<% end % %>

<div class="search-form">
<%= form_with url: movies_path, method: :get, loacl: true do |t| %>
  <%= t.text_field :keyword, value: params[:keyword] %>
  <%= t.radio_button :is_showing, nil, checked: true %>全て
  <%= t.radio_button :is_showing, "1" %>公開中
  <%= t.radio_button :is_showing, "0" %>公開予定
  <%= t.submit "検索" %>
<% end %>
<%# <%= form_with(scope: :movie, url: search_path, method: :get) do |t| %
  <%= t.text_field :keyword, value: params[:keyword] %
  <%= t.radio_button :is_showing, nil, checked: true %全て
  <%= t.radio_button :is_showing, true %公開中
  <%= t.radio_button :is_showing, false %公開予定
  <%= t.submit "検索" %
<% end % %>
</div>

<div class="all-movie">
  <% @movies.each do |t| %>
    <div class="movie-card">
      <div class="movie-img">
        <% if t.image_url.present? %>
          <img src="<%= t.image_url %>" alt="フリー画像">
        <% else %>
          <img alt ="画像無し">
        <% end %>
      </div>
      <div class="card-body">
        <table>
          <tbody>
            <tr>
              <th>タイトル</th>
              <td><%= link_to t.name, movie_path(t.id) %></td>
            </tr>
            <tr>
              <th>公開年</th>
              <td><%= t.year %></td>
            </tr>
            <tr>
              <th>映画概要</th>
              <td><%= t.description %></td>
            </tr>
            <tr>
              <th>公開情報</th>
              <td>
                <% if t.is_showing %>公開中
                <% else %>公開予定
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
<%#   t.string "name", limit: 160, null: false, index: true ,comment: "映画のタイトル。邦題・洋題は一旦考えなくてOK"
      t.string "year", limit: 45, comment: "公開年"
      t.text "description", comment: "映画の説明文"
      t.string "image_url", limit: 150, comment: "映画のポスター画像が格納されているURL"
      t.boolean "is_showing", null: false, comment: "上映中かどうか"

      t.timestamps %>