<!DOCTYPE html>
<h1>編集画面</h1>
<% if @movieEdit.errors.any? %>
  <%= @movieEdit.errors.count %>件のエラーが発生しました
  <ul>
    <% @movieEdit.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model:@movieEdit, url: admin_movies_update_path , local:true, method: :put do |f| %>
  <div>
    <p>タイトル</p>
    <%= f.text_field :name %>
  </div>
  <div>
    <p>公開年</p>
    <%= f.date_field :year %>
  </div>
  <div>
    <p>概要</p>
    <%= f.text_area :description %>
  </div>
  <div>
    <p>画像URL</p>
    <%= f.text_field :image_url %>
  </div>
  <div>
    <p>上映中</p>
    <%= f.radio_button :is_showing, "true" %>
    <%= f.label :is_showing_true, "上映中" %>
    <%= f.radio_button :is_showing, "false" %>
    <%= f.label :is_showing_false, "上映予定" %>
  </div>
  <%= f.submit "送信" %>  
<% end %>