<!DOCTYPE html>
<h1>映画一覧ページ</h1>
<h4><%= link_to "新規登録画面", admin_movies_new_path %></h4>
<table>
  <tr>
    <th>タイトル</th>
    <th>削除</th>
    <th>データid</th>
    <th>公開年</th>
    <th>概要</th>
    <th>画像URL</th>
    <th>上映中</th>
    <th>登録日時</th>
    <th>更新日時</th>
  </tr>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= link_to movie.name, admin_movies_edit_path(movie.id) %></td>
      <td><%= button_to "削除", admin_movies_destroy_path(movie.id), method: :delete %></td>
      <td><%= movie.id %></td>
      <td><%= movie.year %></td>
      <td><%= movie.description %></td>
      <td><img src=<%= movie.image_url %>></td>
      <td>
        <% if movie.is_showing == true %>
          上映中
        <%  else movie.is_showing == false %>
          上映予定
        <% end %>
      </td>
      <td><%= movie.created_at %></td>
      <td><%= movie.updated_at %></td>
    </tr>
  <% end %>
</table>