<!DOCTYPE html>
<h1>新規登録</h1>

<% if @movie.errors.any? %>
  <%= @movie.errors.count %>件のエラーが発生しました
  <ul>
    <% @movie.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%# @movie は Movie.new %>
<%= form_with model:@movie, url: admin_movies_create_path, local:true do |f| %>
  <div>
    <p>タイトル</p>
    <%= f.text_field :name %>
  </div>
  <div>
    <p>公開年</p>
    <%= f.date_field :year %>
  </div>
  <div>
    <p>概要</p>
    <%= f.text_area :description %>
  </div>
  <div>
    <p>画像URL</p>
    <%= f.text_field :image_url %>
  </div>
  <div>
    <p>上映情報</p>
    <%= f.check_box :is_showing, {}, true, false %> 上映中
    <!-- チェックボックスが未選択の場合でも、'false' を送信するための隠しフィールド。trueが選択された場合はtrueを送る -->
    <%= f.hidden_field :is_showing, value: false %>
  </div>
  <%= f.submit "送信" %>
<% end %>